body { background: #49e4f9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-helper-0 { color: #84de76; font-size: 19px; margin-bottom: 5px; }
.block-payment-1 { color: #6633bb; font-size: 20px; margin-bottom: 5px; }
.block-sms-2 { color: #1a913a; font-size: 12px; margin-bottom: 5px; }
.block-notify-3 { color: #5a50d9; font-size: 12px; margin-bottom: 5px; }
.block-uploader-4 { color: #e5293f; font-size: 15px; margin-bottom: 5px; }